
<div>
  <div class="flex justify-between mb-4">
    <div>
      <input type="hidden" name="current_table" value="{{current_schema.name}}"></input>
      <input class="hidden" type="submit"></input>
      <button hx-trigger="click" class="btn btn-xs" hx-swap="outerHTML" hx-post="" hx-vals='{"new_sql": "select_star"}' hx-target="#table" hx-select="#table">SELECT *</button>
      <button hx-trigger="click" class="btn btn-xs" hx-swap="outerHTML" hx-post="" hx-vals='{"new_sql": "select_fields"}' hx-target="#table" hx-select="#table" >SELECT fields</button>
    </div>
    <div>
      <span>Display Limit:</span>
      <input class="input input-bordered input-xs w-20" name="display_limit" value="{{display_limit}}">
    </div>
  </div>


  <textarea style="height: 500px" class="w-full p-2 border border-slate-300 rounded-md" placeholder="Enter your sql" id="sql" name="sql-{{current_schema.name}}">{{ sql }}</textarea>
  {% for key, sql in other_sql %}
    <input type="hidden" name="{{key}}" value="{{sql}}"></input>
  {% endfor %}
  <button 
      hx-post=""
      hx-target="#results"
      hx-select="#results"
      class="btn btn-primary btn-sm btn-active" 
      hx-swap="outerHTML">Run</button>
  <span id="results-spinner" class="relative top-2 htmx-indicator loading loading-spinner loading-md"></span>
</div>

<div id="results" class="mt-2">
{% if sql_error %}
  {{ sql_error }}
{% else %}
  <input class="btn btn-sm" type="submit" name="csv" value="CSV"/>
  <input class="btn btn-sm" type="submit" name="tab" value="Tab delimited"/>
  <input class="btn btn-sm" type="submit" name="jsonl" value="JSONL Stream"/>

  <table class="table table-xs table-pin-rows mt-2">
    <thead>
      <tr>
        {% for header in table_data.headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table_data.rows %}
      <tr>
        {% for cell in row %}
        <td class="border border-slate-300 p-1">{{cell}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
</div>
