<div id="main">
  <div class="flex flex-row flex-wrap py-4">
    <ul class="menu menu-sm w-full w-56 rounded-box sm:w-1/2 md:w-1/3 xl:w-1/4 px-2">
      <li>
        <a id="query_tab" class='main_tab active' onclick="QUERIER.render(this)"
          data-command-1='{"action": "select_tab"}'
          data-command-2='{"target": "#tab_content", "path": "/query" }' 
        >query</a>
      </li>
      <li>
        <a class='main_tab' onclick="QUERIER.render(this)"
          data-command-1='{"action": "select_tab"}'
          data-command-2='{"target": "#tab_content", "path": "/history" }' 
        >history</a>
      </li>
      <li class="menu-title">Tables</li>
      {% for table in tables.tables %}
        {% if not table.section %}
          <li>
            <a class="main_tab" onclick="QUERIER.render(this)"
               data-command-1='{"action": "select_tab"}'
               data-command-2='{"target": "#tab_content", "path": {{"/table/"|concat(table.name)|tojson}} }'> 
              {{table.schema.name}}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      {% for section in tables.sections %}
        <li>
          <details open>
            <summary>{{section}}</summary>
            <ul>
            {% for table in tables.tables %}
              {% if table.section == section %}
                <li>
                  <a class="main_tab" onclick="QUERIER.render(this)" 
                    data-command-1='{"action": "select_tab"}'
                    data-command-2='{"target": "#tab_content", "path": {{"/table/"|concat(table.name)|tojson}} }'>
                    {{table.schema.name}}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          </details>
        </li>
      {% endfor %}
    </ul>
    {% include "table.html" %} 
  </div>
</div>